In [1]:
from tableauhyperapi import HyperProcess, Connection,TableName, TableDefinition, SqlType, Telemetry, Inserter, CreateMode
import pandas as pd

In [5]:
with HyperProcess(telemetry=Telemetry.SEND_USAGE_DATA_TO_TABLEAU) as hyper:
    connection = Connection(endpoint=hyper.endpoint, database="C://Users//Theijan//Documents//hyper files//Custom SQL Query (CIF_Details_Report)1.hyper", create_mode=CreateMode.NONE)
    
    if connection.is_open:
        print("Connection to Hyper file is established.")
        
       
        columns_result = connection.execute_query(query=f"SELECT * FROM{TableName('Extract','Extract')}")
        table_definition = columns_result.columns
        my_columns = [column.name for column in table_definition.columns]
        columns_result.close()  # Close the result set

        # Get the number of columns
        num_columns = table_definition.column_count
        print("Number of columns:", num_columns)
        
    else:
        print("Failed to establish connection to Hyper file.")

Connection to Hyper file is established.

AttributeError: 'Result' object has no attribute 'columns'

In [31]:
with HyperProcess(telemetry=Telemetry.SEND_USAGE_DATA_TO_TABLEAU) as hyper:
    connection = Connection(endpoint=hyper.endpoint, database="C://Users//Theijan//Documents//hyper files//Custom SQL Query (CIF_Details_Report)1.hyper", create_mode=CreateMode.NONE)
    
    if connection.is_open:
        print("Connection to Hyper file is established.")
        my_rows = connection.execute_list_query("""
            SELECT * FROM "Extract"."Extract"
        """)
        print(my_rows)     
       
       
        connection.close()

        
    else:
        print("Failed to establish connection to Hyper file.")

Connection to Hyper file is established.
[[3621, 'I', 'Mr.', 'XXXXXXXXX XXXXXXXX  XXXXXXXXXXXX', 1, 'No. 100, AAA Road,', 'Jubili Post', 'Nugegoda', '', '50240', 'TAMBUTTEGAMA', '01', '04', '04', Date(2015, 7, 2), 'TDS9', '01000072', Timestamp(2015, 7, 2, 11, 22, 0, 0, None), '01002000', Timestamp(2023, 11, 20, 3, 55, 0, 0, None), '01001272', Timestamp(2023, 11, 20, 5, 52, 47, 0, None), Date(1971, 3, 27), 'TAMBUTTEGAMA', 'M', 'M', 'LK', 'R', '', '', '0777123456', '', 'S', 'N', '9901', '', 'NIC', '841234567V', 'Individual', 'General'], [3804, 'I', 'Mr.', 'XXXXXXXXXX XXXXXXXXXXXXX XXXXXXXX  XXXXXXXXXXXX', 1, 'No. 200, AAA Road,', 'Jubili Post', 'Nugegoda', '', '50240', 'TAMBUTTEGAMA', '01', '04', '04', Date(2015, 7, 6), 'TDS9', '01000072', Timestamp(2015, 7, 6, 15, 12, 0, 0, None), '01002001', Timestamp(2023, 12, 6, 13, 29, 0, 0, None), '01001226', Timestamp(2023, 12, 6, 14, 6, 48, 0, None), Date(1973, 6, 16), 'TAMBUTTEGAMA', 'M', 'M', 'LK', 'R', '', '', '0777123460', '', 'S', 'N', '6410', '', 'NIC', '198412345678', 'Individual', 'General'], [103971, 'I', 'Mrs.', 'XXXXXXXXXXXX XXXX XXXXX  XXXXXXX', 1, 'No. 300, AAA Road,', 'Jubili Post', 'Nugegoda', '', '12404', 'POKUNUWITA', '01', '01', '02', Date(2019, 4, 29), 'TDS9', '01TCC005', Timestamp(2019, 4, 29, 12, 23, 0, 0, None), '01001968', Timestamp(2023, 6, 5, 11, 3, 0, 0, None), '01001131', Timestamp(2023, 6, 5, 16, 11, 40, 0, None), Date(1990, 4, 10), 'HORANA', 'F', 'M', 'LK', 'R', '', '0112123456', '0777123464', 'testemail@gmail.com', 'E', 'N', '4110', 'CARGILLS BANK ltd', 'NIC', '198412345678', 'Individual', 'General'], [192703, 'C', 'MS.', 'XXXXXXXXXXXXXX & XXXXXXX', 10, 'No. 200, AAA Road,', 'Jubili Post', 'Nugegoda', '', '60000', 'KURUNEGALA', '07', '03', '03', Date(2022, 9, 7), 'TDS5', '01000529', Timestamp(2022, 9, 7, 16, 41, 0, 0, None), '01TMP105', Timestamp(2022, 12, 13, 9, 47, 0, 0, None), '01000778', Timestamp(2022, 12, 13, 10, 9, 48, 0, None), Date(1900, 1, 1), '', '', '', '', '', '', '', '', '', '', '', '', '', 'BR', '20/1225', 'Proprietorship', 'Proprietorship'], [197611, 'I', 'Miss.', 'XXXXXXXXXX XXXXX XXXXXXXXXX XXXXXXXX  XXXXXXXX', 1, 'No. 100, AAA Road,', 'Jubili Post', 'Nugegoda', '', '50000', 'ANURADHAPURA', '01', '01', '02', Date(2022, 11, 24), 'TDS0', '01001911', Timestamp(2022, 11, 24, 13, 15, 0, 0, None), '01001911', Timestamp(2022, 12, 19, 8, 49, 0, 0, None), '01001272', Timestamp(2022, 12, 19, 14, 31, 58, 0, None), Date(1996, 7, 22), 'RABEWA', 'F', 'S', 'LK', 'R', '', '', '0777123465', 'testemail@gmail.com', 'E', 'N', '4215', 'CARGILLS BANK ltd', 'NIC', '198412345678', 'Individual', 'General'], [197630, 'I', 'Mr.', 'XXXXXXXXXXXXXX XXXXXXXX XXXXX  XXXXXXXXXXXX', 1, 'No. 100, AAA Road,', 'Jubili Post', 'Nugegoda', '', '50500', 'MEDAWACHCHIYA', '01', '01', '02', Date(2022, 11, 24), 'TDS0', '01001911', Timestamp(2022, 11, 24, 15, 2, 0, 0, None), '01002000', Timestamp(2023, 4, 18, 13, 3, 0, 0, None), '01001272', Timestamp(2023, 4, 18, 17, 28, 3, 0, None), Date(1988, 3, 27), 'MEDAWACHCHIYA', 'M', 'M', 'LK', 'R', '', '', '0777123465', 'testemail@gmail.com', 'E', 'N', '5223', 'CARGILLS BANK ltd', 'NIC', '841234567V', 'Individual', 'General'], [197665, 'I', 'Mr.', 'XXXXXXXXXX XXXXXXXXXXXXX XXXXXX XXXXXXXXX  XXXXXXXXXX', 1, 'No. 300, AAA Road,', 'Jubili Post', 'Nugegoda', '', '50000', 'ANURADHAPURA', '01', '01', '02', Date(2022, 11, 25), 'TDS0', '01001911', Timestamp(2022, 11, 25, 9, 14, 0, 0, None), '01001911', Timestamp(2023, 2, 3, 14, 33, 0, 0, None), '01001272', Timestamp(2023, 2, 3, 16, 34, 34, 0, None), Date(2003, 12, 1), 'ANURADHAPURA', 'M', 'S', 'LK', 'R', '', '', '0777123465', 'testemail@gmail.com', 'E', 'N', '5223', 'CARGILLS BANK ltd', 'NIC', '198412345678', 'Individual', 'General'], [197671, 'I', 'Miss.', 'XXXXXX XXXXXXXX  XXXXXXXXX', 1, 'No. 100, AAA Road,', 'Jubili Post', 'Nugegoda', '', '50000', 'ANURADHAPURA', '01', '01', '02', Date(2022, 11, 25), 'TDS0', '01001911', Timestamp(2022, 11, 25, 9, 38, 0, 0, None), '01001911', Timestamp(2022, 12, 31, 10, 21, 0, 0, None), '01001272', Timestamp(2022, 12, 31, 10, 30, 30, 0, None), Date(1998, 10, 30), 'ANURADHAPURA', 'F', 'S', 'LK', 'R', '', '', '0777123465', 'testemail@gmail.com', 'N', 'N', '', '', 'NIC', '841234567V', 'Individual', 'General'], [197735, 'I', 'Mr.', 'XXXXXXX XXX   XXXXXXX XXXXX', 1, 'No. 200, AAA Road,', 'Jubili Post', 'Nugegoda', '', '50000', 'ANURADHAPURA', '01', '01', '02', Date(2022, 11, 24), 'TDS0', '01001911', Timestamp(2022, 11, 24, 15, 20, 0, 0, None), '01001911', Timestamp(2022, 12, 27, 13, 27, 0, 0, None), '01001272', Timestamp(2022, 12, 27, 17, 11, 53, 0, None), Date(1993, 11, 10), 'ANURADHAPURA', 'M', 'S', 'LK', 'R', '', '', '0777123465', 'testemail@gmail.com', 'E', 'N', '3213', 'CARGILLS BANK ltd', 'NIC', '841234567V', 'Individual', 'General'], [197740, 'I', 'Mr.', 'XXXXXXX XXX   XXXXXXX XXXXX', 1, 'No. 200, AAA Road,', 'Jubili Post', 'Nugegoda', '', '50000', 'ANURADHAPURA', '01', '01', '02', Date(2022, 11, 24), 'TDS0', '01001911', Timestamp(2022, 11, 24, 15, 20, 0, 0, None), '01001911', Timestamp(2022, 12, 27, 13, 27, 0, 0, None), '01001272', Timestamp(2022, 12, 27, 17, 11, 53, 0, None), Date(1993, 11, 10), 'ANURADHAPURA', 'M', 'S', 'LK', 'R', '', '', '0777123465', 'testemail@gmail.com', 'E', 'N', '3213', 'CARGILLS BANK ltd', 'NIC', '841234567V', 'Individual', 'General'], [197745, 'I', 'Mr.', 'XXXXXXX XXX   XXXXXXX XXXXX', 1, 'No. 200, AAA Road,', 'Jubili Post', 'Nugegoda', '', '50000', 'ANURADHAPURA', '01', '01', '02', Date(2022, 11, 24), 'TDS0', '01001911', Timestamp(2022, 11, 24, 15, 20, 0, 0, None), '01001911', Timestamp(2022, 12, 27, 13, 27, 0, 0, None), '01001272', Timestamp(2022, 12, 27, 17, 11, 53, 0, None), Date(1993, 11, 10), 'ANURADHAPURA', 'M', 'S', 'LK', 'R', '', '', '0777123465', 'testemail@gmail.com', 'E', 'N', '3213', 'CARGILLS BANK ltd', 'NIC', '841234567V', 'Individual', 'General'], [197795, 'I', 'Mr.', 'XXXXXXX XXX   XXXXXXX XXXXX', 1, 'No. 200, AAA Road,', 'Jubili Post', 'Nugegoda', '', '50000', 'ANURADHAPURA', '01', '01', '02', Date(2022, 11, 24), 'TDS0', '01001911', Timestamp(2022, 11, 24, 15, 20, 0, 0, None), '01001911', Timestamp(2022, 12, 27, 13, 27, 0, 0, None), '01001272', Timestamp(2022, 12, 27, 17, 11, 53, 0, None), Date(1993, 11, 10), 'ANURADHAPURA', 'M', 'S', 'LK', 'R', '', '', '0777123465', 'testemail@gmail.com', 'E', 'N', '3213', 'CARGILLS BANK ltd', 'NIC', '841234567V', 'Individual', 'General']]

C:\Users\Theijan\anaconda3\Lib\site-packages\tableauhyperapi\result.py:462: UnclosedObjectWarning: Result has not been closed. Use Result object in a with statement or call its close() method when done.
  warnings.warn('Result has not been closed. Use Result object in a with statement or call its close() '

In [32]:
df = pd.DataFrame(my_rows, columns=my_columns)
print(df)

ValueError: 11 columns passed, passed data had 40 columns

In [51]:
from tableauhyperapi import TableName,TableDefinition  # Import TableName from tableauhyperapi
 # Import TableName


# Use HyperProcess for managing Hyper instances
with HyperProcess(telemetry=Telemetry.SEND_USAGE_DATA_TO_TABLEAU) as hyper:
    # Connect to the Hyper file
    with Connection(endpoint=hyper.endpoint, database="C://Users//Theijan//Documents//hyper files//Custom SQL Query (CIF_Details_Report)2.hyper", create_mode=CreateMode.NONE) as connection:
        if connection.is_open:
            print("Connection to Hyper file is established.")
            
           # tables = connection.catalog.get_table_names()
            #print("Available tables:", tables)

           
            #table_name = 'Extract.Extract'

           # Get the table definition
           #table_definition = connection.catalog.get_table_definition(table_name)

        # Get the number of columns
           #num_columns = len(table_definition.columns)
       

            # Use Inserter to add rows to the existing table
            with Inserter(connection,TableName('Extract','Extract')) as inserter:
                for row in my_data:
                    filled_row = row + [None] * (42 - len(row))
                    inserter.add_row(filled_row)

                # Execute the insertion
                inserter.execute()

                print("Data inserted successfully.")

            # Commit the transaction
            connection.close()
        else:
            print("Failed to establish connection to Hyper file.")

Connection to Hyper file is established.
Data inserted successfully.